@media (min-width: 560px) {
	/* HEADER */
	.header-block {
		padding: 2vw;
	}

	/* DESCRIPTION */
	.description_section{
		padding: 0 35px;
	}

	/* STEPS */
	.steps_section{
		padding: 0 35px;
	}

	/* ANSWERS */
	.answers {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
	}

	/* FOOTER */
	.footer_line {
		display: none;
	}

	.footer_content {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
	}
}
