@media (min-width: 1024px) {
	/* padding-inline: 3rem; */

	/* HEADER */

	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.header-menu {
		display: none;
	}

	.header-block {
		justify-content: space-around;
		padding: 0;
		padding: 1vw;
		width: clamp(900px, 70vw, 1170px);

		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.header-block-mob {
		display: none;
	}

	.header_desktop {
		display: flex;
	}

	ul {
		list-style-type: none;
		display: flex;
		gap: 35px;
	}

	.header_desktop-link {
		color: #000;
		font-family: "Montserrat";
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		cursor: pointer;
	}
	.header_desktop-link:hover{
		color: #0091CD;
	}

	.header_desctop-arrow-link {
		display: flex;
		gap: 10px;
	}

	.header-btn {
		background: #0091cd;
		width: 198px;
		height: 36px;
		border: #0091cd;
		color: #fff;
		font-family: "Montserrat";
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		display: flex;
		align-items: center;
		justify-content: space-around;
		cursor: pointer;

	}

	.btn:hover {
		border: 1px solid #0091cd;
		background: linear-gradient(180deg, #bbebff 0%, #00b4ff 98.96%);
	}
	.btn:active {
		border: 1px solid #0177aa;
		background: linear-gradient(180deg, #a6d1e4 0%, #0190ce 98.96%);
	}

	/* SWIPER */

	.swiper-block {
		height: 393px;
	}

	.swiper_img-girl_mob {
		display: none;
	}
	.swiper_img-girl_desc {
		display: flex;
	}
	.swiper-button-prev,
	.swiper-button-next {
		display: block;
	}

	.swiper-btn-application-mob {
		display: none;
	}

	/* MAIN */
	.main_section {
		/* margin-top: 35px; */
	}

	.main_section-container {
		margin-top: 35px;
	}

	/* DESCRIPTION */
	.description_section {
		display: flex;
		align-items: center;
	}

	.description_section-container {
		display: flex;
		flex-direction: column;
		gap: 20px;
		max-width: 1170px;
	}

	/* STEPS */
	.steps_section {
		display: flex;

		flex-direction: column;
		align-items: center;
	}

	.steps_section-road-steps {
		display: flex;
		/* height: 421px; */
		height: clamp(330px, 28vw, 421px);
		margin-top: 50px;
		width: fit-content;
	}

	.steps_section-container {
		max-width: 1170px;
	}

	.steps_miniblock {
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 20px;
		max-width: 100%;
	}

	.steps_miniblock-content {
		display: flex;
		text-align: left;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}

	/* ANSWERS */
	.answers {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: 30px;
		margin-top: 50px;
	}

	.answers_card {
		margin: 0;
	}

	/* FOOTER */
	.footer_content {
		max-width: 865px;
	}

	.footer_content {
		justify-content: space-between;
	}

	.footer_miniblock_services {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
