@media (min-width: 560px) {
	/* ANSWERS */

	.answers {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
        justify-content: center;
	}

	/* FOOTER */
	.footer_line {
		display: none;
	}

	.footer_content {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
	}

	
}