@media (min-width: 425px) {

    .about_main_bgr-img-mob {
        transform: translate(-10%, -0%);
        height: 675px;
    }

    .about_main_bgr-img-mob-2{
        height: 675px;
    }

    .about_main_bgr-img-mob-instructure {
        transform: translate(-10%, -0%);
        height: 675px;
    }

    .about_section {
        padding: 0 27px;
    }
}
