@media (min-width: 560px) {
	/* HEADER */
	.header-block {
		padding: 2vw;
	}

	.swiper-btn-application-mob {
		left: 30%;
	}

	.main_bgr-konus-big {
		transform: rotate(-8.512deg);
	}

	/* DESCRIPTION */
	.description_section {
		padding: 0 35px;
	}

	/* STEPS */
	.steps_section {
		padding: 0 35px;
	}

	/* ANSWERS */
	.answers {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
	}

	/* FOOTER */
	.footer_line {
		display: none;
	}

	.footer_content {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
	}

	/* ABOUT PAGE */

	.about_img-mob {
		display: none;
	}

	.about_img-desk {
		display: flex;
	}
}
