@media (min-width: 700px) {
	/* DESCRIPTION */
	.description_section {
		padding: 0 34px;
	}

	/* STEPS */
	.steps_section {
		padding: 0 34px;
	}

	/* ANSWERS */
	.answers {
		display: flex;
		flex-direction: column;
	}

	.answers_card {
		width: 370px;
	}

	.answers_img {
		width: 370px;
	}

	/* FOOTER */
	.footer_miniblock_services {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
